@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

header {
  height: auto;
  margin-top: 0px;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid gray;
}

li p a:link{
  color: #db1d0f;
}
li p a:visited, li p a:active {
  color: #334c9d;
}
li p a:hover {
    color: #5976d5;
}

.top-banner {
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 100%;
  background: url('images/guitar-background.jpg') no-repeat center fixed;
  background-size: cover;
  margin: 0 auto;
}

.branding {
  display: inline-block;
  height: 100%;
  float: left;
  margin-left: 20px;
  margin-top: 6px;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px black;
}

.new-search-button {
  float: right;
  margin-right: 25px;
  margin-top: 6px;
  height: 77%;
  background-color: white;
  border-radius: 2px;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: white;
}

.main {
  margin: 0 auto;
  position: absolute;
  z-index: 30;
  height: 120%;
  height: 100%;
  width: 100%;
  /* padding-top: 0px;
    margin-top: 0px; */
  background: url('images/guitar-background.jpg') no-repeat center fixed;
  background-size: cover;
}

h1 {
  color: #9081fa;
  font-size: 2.7rem;
  margin: 0;
  padding-top: 50px;
}

#map {
  position: absolute;
  z-index: 0;
  top:50px;
  left:0;
  z-index: 0;
  width: 100%;
  height: 40%;
  display: none;
  width: 67%;
  height: 100%;
}

.search-section {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 325px;
  margin: 0% auto 0;
  padding: 10px;
  color: #003775;
  height: auto;
  border-radius: 10px;
}

h2 {
  font-size: 1.2rem;
  color: #f5efd7;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 22px;
  text-align: center;
  margin: 15px auto 0;
  width: 80%;
}

.search-form {
  margin: 0 auto;
  position: relative;
  margin-top: 5px;
}

label {
  display: block;
  margin-bottom: 0px;
  font-size: 1.2rem
}

input {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #003775;
}

input[type="text"] {
  padding: 10px 0 0 8px;
  opacity: .85;
}

.fa-search {
  position: absolute;
  top: 32px;
  right: 12px;
  z-index: 6;
  color: grey;
}
.search-button {
  margin: 12px;
  padding: 12px 15px 10px;
  background: #8174d2;/* fallback color */
  background: rgba(129, 116, 210, .85);
  color: #f1efe9;
  text-transform: uppercase;
  border-radius: 2%;
  cursor: pointer;
  border: none;
}

/* Most modern browsers support this now. */
::placeholder {
  color: rgba(144, 129, 250, .5);
  font-size: .9rem
}

.logo {
  width: 50%;
}

.search-button:hover,
.new-search-button:hover {
  color: #9081fa;
  opacity: 0.9;
  transition: color 0.3s;
}

.search-results {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  top: 50px;
  padding-right: 3px;
  z-index: 0;
  height: 100%;
  color: #222;
  background: #f1efe9;
  border: 1px solid gray;
  border-top: none;/* no border on top */
  width: 33%;
  overflow: auto;
  float: right;
}

.search-results li {
  padding: 10px 0 0 10px;
  border-bottom: 1px gray solid;
  list-style: none;
  text-align: left;
  line-height: 22px;
  overflow: auto;
}

.thumbnail-40 {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.thumbnail-40 img {
  width: 100%;
  border:1px solid lightgrey;
}
.displayed-result {
  /* display: inline-block; */
  width: 100%;
  padding: 3px;
}
.hidden {
  display: none;
}

.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 32;
  background: url('images/pre-loader2.gif') 50% 50% no-repeat rgba(4, 0, 8, .4);
}

footer {
  position: absolute;
  margin-top: 130px;
  font-size: .9em;
  color: #c9c5e6;
  left: 10%;
  right: 10%;
  line-height: 20px;
}

@media only screen and (orientation: landscape) {
  .main {
    height: 170%;
  }
}

@media only screen and (max-width: 768px) {

  #map {
    width:45%;
  }
  .search-results {
    width: 55%;
    height: 100%;
    top: 50px;
    z-index: 20;
    font-size: .9rem;
  }
}

@media only screen and (max-width: 640px) {
  #map {
    display: none;
  }
  .search-results {
    width: 100%;
    height: 100%;
    top: 50px;
    z-index: 20;
    font-size: .8rem;
    line-height: 20px;
  }
  .search-results li {
    padding: 10px 0 0 10px;
    border-bottom: 1px gray solid;
    list-style: none;
    text-align: left;
    line-height: 19px;
    overflow: auto;
}
  .new-search-button {
    margin-right: 10px;
  }
  /* .thumbnail-40 {
    display: inline-block;
    width: 96px;
}
  .thumbnail-40 img {
    width: 100%;
    border:1px solid lightgrey;
  }*/
 .displayed-result {
    display: inline-block;
    width: 75%;
    padding: 3px;
  }
}
